@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");
:root {
  --mainColor: rgb(120, 202, 73);
  --blackColor: rgba(0, 0, 0, 0.8);
  --grayColor: #444;
  --whiteColor: rgb(248, 246, 246);
  --backColor2: rgb(0, 0, 0);
  --price: rgb(240, 17, 17);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: var(--blackColor);
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  font-family: "Baloo 2", cursive;
} */
h2 {
  font-size: 36px;
  line-height: 36px;
}
h3 {
  font-size: 30px;
  line-height: 30px;
}
h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  line-height: 18px;
}
h6 {
  font-size: 12px;
  line-height: 14px;
}
p:last-child {
  margin-bottom: 0;
}
a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.btn:focus {
  box-shadow: none;
}
a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}
*:focus {
  outline: none !important;
}
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
.motto,
.hotline {
  font-weight: bold;
  padding-top: 10px;
}
button,
input[type="submit"] {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* ------------header-top------------ */
.home_black_version {
  color: var(--whiteColor);
}
.header_black .top_right > ul > li::before {
  background-color: var(--grayColor);
}
.header_black .top_right {
  left: -98%;
}

.top_left ul li {
  display: inline-block;
  margin-right: 10px;
}
/* .top_left ul li:first-child {
  margin-left: 0;
} */
.top_right > ul > li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 10px;
}
.header_top {
  padding-bottom: 10px;
  background-color: var(--grayColor);
}

/* ------------header-bottom------------ */
.header-bottom {
  position: relative;
  background-color: var(--blackColor);
}
.nav .nav_list .sub_menu {
  position: absolute;
  top: 95px;
  background-color: var(--blackColor);
  border-top: 2px solid var(--mainColor);
  opacity: 0;
  visibility: hidden;
}
.nav .nav_list .nav_item:hover > .sub_menu {
  opacity: 1;
  visibility: visible;
}
.nav .nav_list .sub_menu li {
  position: relative;
  margin: 0px;
  width: 200px;
  font-size: 16px;
  float: none;
  display: list-item;
  border-bottom: 1px solid var(--grayColor);
  padding: 15px;
}
.container-bottom {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 10%;
}
.navigation {
  position: relative;
  height: 6rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
  padding: 0 1rem;
}
.nav_logo {
  width: 120px;
}
.nav_hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
}
.menu_top {
  display: none;
}
.nav_menu {
  width: 50%;
}
.nav_list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav_item:not(:last-child) {
  margin-right: 2.5rem;
  z-index: 1000;
}
.nav_list .nav_link:link,
.nav_list .nav_link:visited {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
  padding: 35px 0 35px 0;
}
.nav_list .nav_link:hover {
  text-shadow: 0 0 10px var(--mainColor);
}
.nav_icons {
  display: flex;
  position: relative;
}
.ion-person,
.ion-search,
.ion-android-cart {
  font-size: 25px;
}
.nav_icons .icon_item {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--whiteColor);
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.nav_icons .search_icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--whiteColor);
  border-radius: 0 10% 10% 0;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
  background-color: var(--mainColor);
}
.nav_icons .search_icon:hover {
  color: var(--blackColor);
}
.nav_icons .icon_item:link,
.nav_icons .icon_item:visited {
  color: var(--whiteColor);
}
.nav_icons .icon_item:hover {
  background-color: var(--mainColor);
  color: var(--blackColor);
  border: 1px solid var(--blackColor);
}
.nav_icons .icon_item:not(:last-child) {
  margin-right: 1rem;
}
.nav_icons #cart_total {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: 0px;
  background-color: var(--whiteColor);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--blackColor);
}
.nav_icons .search_input {
  /* outline: none; */
  margin: 0;
  float: left;
  border: none;
  padding: 9.5px;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  transition: 0.4s;
  width: 180px;
}
.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: var(--blackColor);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  animation-name: fadeInDown;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

/* ------------slider section------------ */
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.slider_area {
  /* margin-bottom: 35px; */
}
.slider_area.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.slider_area.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--whiteColor);
  margin: 0 5px;
  transition: 0.3s;
  position: relative;
}
.slider_area.owl-carousel .owl-dots .owl-dot.active {
  transition: 0.3s;
}
.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
  position: absolute;
  content: "";
  background-color: var(--grayColor);
  width: 13px;
  height: 13px;
  left: -3px;
  top: -3px;
  border-radius: 50%;
}
.slider_area .single_slider .row {
  height: 650px;
}
.slider_area .slider_content {
  margin-left: 200px;
  margin-top: 400px;
  overflow: hidden;
  width: 155px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--mainColor);
}
.slider_area .slider_content:hover {
  background-color: var(--grayColor);
}
.slider_area .slider_content a:hover {
  color: var(--whiteColor);
}
.slider_black .discount {
  color: var(--whiteColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-top: -150px;
  margin-left: 100px;
}
.slider_black .voucher {
  color: var(--whiteColor);
  font-style: italic;
  font-size: 20px;
  width: 310px;
  font-family: "Baloo 2", serif;
  line-height: 32px;
  margin-left: 100px;
}
.slider_black .voucher span {
  color: var(--mainColor);
}
.active .discount {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.4s;
}
.active .voucher {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.6s;
}
.active .slider_content {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.2s;
}
.active .slider_content p {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.2s;
}

/* featured */

.feature p {
  font-weight: 760;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--whiteColor);
  margin-top: 0;
  padding: 30px;
  background-image: linear-gradient(to right, transparent, var(--grayColor));
}
.feature p:hover {
  color: var(--mainColor);
}
.feature {
  background-image: linear-gradient(to left, transparent, var(--blackColor));
}
/* ------------box-slider------------ */
.slider {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 300px;
  box-shadow: 2px 2px 10px var(--grayColor);
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  margin: 10px 25px;
}
.slide-img {
  /* height: 350px; */
  position: relative;
  padding-left: 10px;
}
.slide-img img {
  width: 280px;
  height: 250px;
  object-fit: cover;
  align-items: center;
  box-sizing: border-box;
  margin-top: 15px;
}
.detail-box {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.type {
  margin-bottom: 5px;
}
.type a {
  color: var(--mainColor);
  font-weight: 600;
  margin: 5px 0;
  letter-spacing: 0.5px;
}
.text span {
  color: var(--grayColor);
}
.detail-box .price {
  float: right;
  color: var(--price);
  letter-spacing: 1px;
  font-weight: 600;
}

@media only screen and (max-width: 1080px) {
  .nav_menu {
    position: fixed;
    top: 2.5rem;
    left: -17rem;
    width: 0;
    background-color: var(--blackColor);
    z-index: 1000;
    height: 100%;
    transition: all 0.3s;
  }
  .nav_menu.open {
    left: 0rem;
    width: 17rem;
  }
  .nav_hamburger {
    display: block;
  }
  .menu_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grayColor);
    padding: 1.8rem 1rem;
    height: 100px;
  }

  .menu_top .close_toggle {
    font-size: 30px;
    padding-left: 20px;
  }
  .nav_list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5rem;
  }
  .nav_item:not(:last-child) {
    margin-right: 0;
  }
  .nav_item {
    width: 100%;
  }
  .nav_list .nav_link:link,
  .nav_list .nav_link:visited {
    padding-bottom: 0.5rem;
    width: 100%;
  }
  body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blackColor) none no-repeat 0 0;
    z-index: 900;
    opacity: 0.7;
    transition: 0.8s;
  }
  .nav .nav_list .sub_menu {
    top: initial;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    background-color: initial;
    border-top: initial;
    margin-left: 16px;
  }
  .nav .nav_list .nav_item:hover > .sub_menu {
    display: block;
  }
  .slider_black .discount {
    font-size: 30px;
  }
  .slider_black .voucher {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .nav_menu {
    top: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav_menu {
    top: 4.7rem;
  }
  .nav_logo {
    display: none;
  }
  .slider_area .slider_content {
    margin-left: 50px;
    font-size: 18px;
    width: 140px;
  }
}
/* ------------footer------------ */
footer {
  font-size: 14px;
  background-color: var(--blackColor);
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer .foot_links h5 {
  color: var(--mainColor);
  text-align: start;
  font-size: 16px;
}
footer .foot_links hr {
  margin-left: 0;
  align-items: flex-start;
}
footer .foot_links ul li a {
  line-height: 40px;
  display: block;
  text-align: start;
}

/* ------------product section------------ */

.product_section {
  margin-bottom: 34px;
}
.product_black_section .product_tab_button ul.nav {
  /* border: 2px solid #cecaca31; */
  /* padding: 15px; */
}
.product_black_section .product_tab_button ul.nav::before {
  background-image: linear-gradient(to right, transparent, #a39f9f88);
}
.product_black_section .product_tab_button ul.nav::after {
  background-image: linear-gradient(to right, #a39f9f88, transparent);
}
.product_black_section .product_tab_button ul.nav li:first-child a {
  border-left: 0;
}
.product_black_section .product_tab_button ul.nav li a {
  border-left: 2px solid #bbeeb988;
  color: var(--grayColor);
}
.product_black_section .product_tab_button ul.nav li a:hover {
  color: var(--mainColor);
}
.product_black_section .product_tab_button ul.nav li a.active {
  color: var(--mainColor);
}
.product_black_section .product_tab_button ul.nav li a.active::before {
  border: 2px solid var(--mainColor);
}
.product_tab_button {
  margin-bottom: 35px;
  text-align: center;
}
.product_tab_button ul {
  justify-content: center;
  margin: 0 auto;
}
.product_tab_button ul.nav {
  display: inline;
  position: relative;
}
.product_tab_button ul.nav::before {
  content: "";
  width: 400px;
  height: 2px;
  position: absolute;
  right: 100%;
  top: 50%;
  background-image: linear-gradient(to right, transparent, #a39f9f88);
}
.product_tab_button ul.nav::after {
  content: "";
  width: 400px;
  height: 2px;
  position: absolute;
  left: 100%;
  top: 50%;
  background-image: linear-gradient(to right, transparent, #a39f9f88);
}
.product_tab_button ul li {
  display: inline-block;
  margin-top: 20px;
}
.product_tab_button ul li:first-child a {
  border-left: 0;
}
.product_tab_button ul li a {
  font-size: 20px;
  color: var(--grayColor);
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-left: 2px solid #bbeeb988;
  padding: 0 30px;
  transition: 0.3s;
}
.product_tab_button ul li a.active {
  color: var(--mainColor);
  position: relative;
}
.product_tab_button ul li a.active::before {
  position: absolute;
  content: "";
  width: 104%;
  height: 109%;
  border: 2px solid var(--grayColor);
  left: -2px;
  top: -2px;
  border-radius: 3px;
}

/* tab-content */
.tab-content {
  padding-top: 20px;
}
.tab-content > .tab-pane.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}
.tab-content > .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.product_container .custom-col-5 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 6px;
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}
.single_product {
  transition: 0.3s;
  margin-bottom: 30px;
}
.single_product:hover {
  background: rgba(95, 91, 91, 0.822);
  border-radius: 3px;
  box-shadow: 0px 0px 15px 0px var(--whiteColor);
}
.single_product:hover .product_hover {
  top: 66%;
  opacity: 1;
  visibility: visible;
}
.single_product:hover .product_thumb a.secondary_img {
  opacity: 1;
  visibility: visible;
}
.product_black_section .single_product {
  padding: 15px 17px;
}
.product_black_section .single_product:hover {
  background: whitesmoke;
}
.product_thumb {
  position: relative;
  margin-bottom: 8px;
}
.product_thumb a.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible;
}
.quick_button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.quick_button a {
  line-height: 45px;
  background: var(--grayColor);
  color: #fff;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  display: block;
}
.quick_button a:hover {
  background: var(--mainColor);
}
.product_black_section .quick_button a {
  font-family: "Baloo 2", serif;
  font-size: 14px;
}
.product_content {
  text-align: center;
  position: relative;
}
.product_content h3 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.product_black_section .product_content h3 {
  font-size: 16px;
  font-weight: 600;
}
.tag_cate {
  margin-bottom: 10px;
}
.price_box > span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--price);
}
.price_box > span.old_price {
  color: #545454;
  font-size: 14px;
  margin-right: 5px;
  text-decoration: line-through;
  font-weight: 400;
}
.product_hover {
  position: absolute;
  top: 50%;
  z-index: 9;
  left: 0;
  background: var(--whiteColor);
  padding: 3px 8px 20px 8px;
  box-shadow: 0px 6px 7px 0 var(--whiteColor);
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.single_product:hover .product_hover {
  top: 66%;
  opacity: 1;
  visibility: visible;
}
.product_black_section .product_hover {
  background: whitesmoke;
  left: -17px;
  width: 112%;
}
.product_ratings {
  margin-bottom: 10px;
}
.product_ratings ul li {
  display: inline-block;
}
.product_ratings ul li a {
  color: var(--grayColor);
  font-size: 14px;
}
.action_links ul li {
  display: inline-block;
}
.action_links ul li.add_to_cart a {
  line-height: 37px;
  padding: 0px 18px;
  width: 100%;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}
.action_links ul li a {
  line-height: 37px;
  /* height: 35px;
  width: 35px; */
  padding: 10px 15px;
  background: var(--grayColor);
  color: var(--whiteColor);
  display: block;
  text-align: center;
  border-radius: 5px;
}
.action_links ul li a:hover {
  color: var(--grayColor);
  background: var(--mainColor);
}
.product_black_section .action_links ul li.add_to_cart a {
  font-family: "Trebuchet MS", sans-serif;
}
.product_container button {
  display: none !important;
}

/* ------------modal section------------ */
.modal-dialog.modal-dialog-centered {
  min-width: 870px;
}
.modal_tab_img {
  text-align: center;
  margin-bottom: 10px;
}
.modal_tab_img img {
  margin: 0 auto;
}
.modal_tab_button ul li a {
  padding: 0;
  border: 1px solid rgba(185, 181, 181, 0.397);
  margin: 0 2px;
}
.modal_tab_button ul li a img {
  width: 100%;
}
.modal_title h2 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 17px;
  color: var(--grayColor);
  line-height: 32px;
  margin-top: 10px;
}
.see_all {
  margin-bottom: 27px;
}
.see_all a {
  text-decoration: underline;
}
.modal_social h2 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--grayColor);
  line-height: 20px;
}
.modal_social ul li {
  display: inline-block;
  margin-right: 3px;
}
.modal_social ul li a {
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #ddd;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 7px;
  line-height: 36px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--grayColor);
  font-weight: 400;
}
.modal_social ul li a:hover {
  background: var(--mainColor);
  color: #fff;
  border-color: var(--mainColor);
}
.modal_price {
  margin-bottom: 16px;
}
.modal_price span {
  font-weight: 600;
  color: var(--price);
  font-size: 16px;
  letter-spacing: 1px;
}
.modal_price span.old_price {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}
.modal_description p {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}
.modal_add_to_cart {
  border-bottom: 1px solid ebebeb;
  padding-bottom: 30px;
}
.modal_add_to_cart form input {
  width: 80px;
  border: 1px solid #afa9a9;
  background: none;
  padding: 0 13px;
  border-radius: 5px;
  height: 40px;
}
.modal_add_to_cart form button {
  background: none;
  border: 1px solid var(--blackColor);
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  height: 38px;
  line-height: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: var(--blackColor);
  color: var(--whiteColor);
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.modal_add_to_cart form button:hover {
  background: var(--mainColor);
  color: var(--blackColor);
  border-color: var(--mainColor);
}
.modal_body {
  padding: 5px 6px 38px;
}
.modal-content button.close {
  position: relative;
  left: 94%;
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid #ebebeb;
  top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  z-index: 9;
}
.modal_add_to_cart.mb-15 {
  margin-bottom: 23px;
}
.modal_description.mb-15 {
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 23px;
}
.product_navactive.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.product_navactive.owl-carousel .owl-nav {
  display: block;
}
.product_navactive.owl-carousel .owl-nav div {
  position: absolute;
  background: var(--whiteColor);
  border-radius: 3px;
  color: var(--grayColor);
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  text-align: center;
  line-height: 32px;
  left: -7px;
  font-size: 18px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.product_navactive.owl-carousel .owl-nav div:hover {
  background: var(--mainColor);
  color: var(--whiteColor);
}
.product_navactive.owl-carousel .owl-nav div.owl-next {
  right: -7px;
  left: auto;
}
.arrow-left {
  position: absolute;
  top: 29px;
  left: -9px;
  font-size: 20px;
  height: 25px;
  width: 21px;
  color: var(--blackColor);
  padding: 2px;
  border-radius: 6px;
  padding-right: 3px;
}
.arrow-right {
  position: absolute;
  top: 27px;
  right: -12px;
  font-size: 20px;
  height: 25px;
  width: 24px;
  color: var(--blackColor);
  padding: 2px;
  border-radius: 6px;
  padding-left: 5px;
}
.arrow-left:hover,
.arrow-right:hover {
  background: var(--mainColor);
  color: var(--whiteColor);
}

/* Macbook M1 --------------------------------- */

.intro hr {
  background-image: linear-gradient(
    transparent,
    #afabab93 30%,
    85%,
    transparent
  );
}
.intro h1 {
  font-size: 26px;
  margin: 25px;
}
.intro .cat-desc-small {
  margin-top: 20px;
}
.intro .filter_cat_desc .left-filter {
  /* float: right; */
  /* display: block; */
  /* margin-right: 40px; */
  padding: 30px;
  width: 230px;
  /* margin-left: 85%; */
}
.product_section.product_m1 {
  margin-bottom: 70px;
}
.desc_m1 .breadcrumbs-container td {
  text-align: center;
}
